:root {
  --slidev-theme-primary: #5d8392;
  --kalouk-light-blue: #00c0f3;
  --kalouk-blue: #005da4;
  --kalouk-yellow: #ffe06a;
  --kalouk-yellow-dark: #fdb912;
  --kalouk-orange: #f37021;
  --kalouk-green: #6dc067;
  --kalouk-green-dark: #008641;
}

.slidev-layout.cover {
  @apply h-full grid;
  background-color: var(--kalouk-blue);
  color: white;

  h1 {
    @apply text-8xl font-800 leading-20;
  }

  h1 + p {
    @apply -mt-2 opacity-50 mb-4;
  }

  p + h2,
  ul + h2,
  table + h2 {
    @apply mt-10;
  }
}

.slidev-layout.intro {
  @apply h-full grid;

  h1 {
    @apply text-6xl font-800 leading-20;
  }

  h1 + p {
    @apply -mt-2 opacity-50 mb-4;
  }

  p + h2,
  ul + h2,
  table + h2 {
    @apply mt-10;
  }
}

.slidev-layout.section {
  h1 {
    @apply text-8xl font-800 leading-20;
  }
}

.slidev-layout.equation {
  @apply h-full grid;
}

.slidev-layout.equation .katex-display {
  font-size: 3rem;
}

.slidev-layout.fact {
  @apply text-center grid h-full;
  h1 {
    @apply text-8xl font-700;
  }
  h1 + p {
    @apply font-700 text-2xl;
  }
}

.slidev-layout.statement {
  @apply text-center grid h-full;

  h1 {
    @apply text-6xl font-700;
  }
}

.slidev-layout.quote {
  @apply grid h-full;

  h1 + p {
    @apply mt-2;
  }
}
